version: '3.8'

services:
  # --- INFRASTRUCTURE ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - pfms-net

  broker:
    image: confluentinc/cp-kafka:7.3.0
    container_name: broker
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://broker:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    networks:
      - pfms-net

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - pfms-net

  # --- BACKEND SERVICES ---
  ml-service:
    build: ./ml-service
    container_name: ml-service
    ports:
      - "8000:8000"
    volumes:
      - ./ml-service/fraud_reports.json:/app/fraud_reports.json
    networks:
      - pfms-net

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    container_name: api-gateway
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - MONGO_URI=mongodb://mongodb:27017/pfms_fraud_db
      - ML_SERVICE_URL=http://ml-service:8000
      - KAFKA_BROKERS=broker:29092
    depends_on:
      - mongodb
      - broker
      - ml-service
    networks:
      - pfms-net

  # --- FRONTEND ---
  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: pfms-client
    ports:
      - "3000:3000"
    environment:
      # Next.js Public Vars (available in browser)
      - NEXT_PUBLIC_API_URL=http://localhost:4000
    depends_on:
      - api-gateway
    networks:
      - pfms-net

networks:
  pfms-net:
    driver: bridge

volumes:
  mongo_data:
